.logout-main-modal {
    p {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 25px;
    }

    a {
        color: white;
        background-color: #4198e2;
        text-align: center;
        padding: 10px 14px;
        text-decoration: none;
        font-size: 17px;
        min-width: 70px;
        margin-left: 200px;

        &:hover {
            opacity: 0.6;
        }
    }

    button {
        color: white;
        background-color: #2125297d;
        text-align: center;
        padding: 9px 14px;
        text-decoration: none;
        font-size: 17px;
        min-width: 70px;
        margin-left: 50px;

        border: none;

        &:hover {
            opacity: 0.6;
        }
    }
}

.topnav-main {
    overflow: hidden;
    background-color: #747474;
    width: 100%;

    a,
    button {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        min-width: 70px;
    }

    a:hover,
    button:hover {
        background-color: #ddd;
        color: black;
    }

    a.active-link {
        background-color: #04AA6D;
        color: white;
    }

    button {
        border: none;
        background-color: #747474;
    }

    .to-admin-page {
        float: right;
    }

    .to-login-page {
        float: right;
    }
}