.main-login {
    background-color: #dddddd;
    min-height: 715px;
    padding: 7.5px 15px;

    .container {
        width: 100%;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;

        .login-form {
            width: 100%;
            max-width: 500px;
            margin: 120px auto;
            background-color: #ffffff;
            padding: 15px;
            border: 2px solid #cccccc;
            border-radius: 10px;

            h1 {
                color: #009999;
                font-size: 30px;
                margin-bottom: 30px;
            }

            .input-box {
                margin-bottom: 10px;
                display: flex;
                align-items: center;

                label {
                    width: 150px;
                    font-size: 20px;
                    color: black;
                }

                input {
                    padding: 7.5px 15px;
                    width: 100%;
                    border: 1px solid #cccccc;
                    outline: none;
                    font-size: 20px;
                }
            }

            .btn-box {
                text-align: right;
                margin-top: 30px;
                margin-bottom: 10px;

                button {
                    padding: 7.5px 15px;
                    border-radius: 2px;
                    background-color: #009999;
                    color: #ffffff;
                    border: none;
                    outline: none;
                    font-size: 20px;
                }

                button:hover {
                    cursor: pointer;
                    opacity: 0.7;
                }
            }

            a {
                /* text-decoration: none; */
                color: rgb(78, 142, 239);
                font-size: 18px;
            }
        }
    }
}