.table-container {
    width: 100%;
}

#title-table-user {
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
}

#table-user {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: calc(100% - 60px);
    margin: 20px 30px;
    font-size: 20px;
}

#table-user td,
#table-user th {
    border: 1px solid #ddd;
    padding: 8px;
}

#table-user tr:nth-child(even) {
    color: black;
    background-color: #f2f2f2;
}

#table-user tr:nth-child(odd) {
    color: black;
    background-color: white;
}

#table-user tr:hover {
    background-color: #ddd;
}

#table-user th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3fdbec;
    color: black;
}

#table-user td {
    color: black;
    text-align: left;
}