.d-none {
    display: none !important;
}

.form-edit-user {
    width: 500px;
    margin: 0 auto;
    // padding-top: 50px;

    legend {
        font-size: 30px;
        font-weight: bold;
    }

    .input-group {
        padding: 10px;
        display: flex;
        align-items: center;

        label {
            font-size: 20px;
            flex: 1;
            margin-right: 10px;
        }

        input {
            font-size: 20px;
            margin-right: 100px;
            width: 300px;
        }
    }

    button {
        background-color: #4CAF50;
        border: none;
        color: black;
        padding: 4px 12px;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        margin: 10px 100px;
        cursor: pointer;
    }

    button:hover {
        opacity: 0.7;
        color: white;
    }
}